@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #000;
  color: #fff;
  height: 64px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-section-one {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 20px;
}

.logo-container {
  display: flex;
  gap: 5px;
}

.logo-container span {
  height: 25px;
  width: 25px;
  color: #000;
  background-color: #fff;
  padding: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-section-two {
  display: flex;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links-container li:last-child {
  font-size: 2rem;
  margin-bottom: 15px;
}

.nav-links-container li {
  list-style: none;
}

.nav-links-container li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 25px;
}

.nav-menu {
  display: none;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 0 20px;
}

.search-container:hover {
  background-color: #3a3d3e;
}

/* green */
/* Hero Section */
/* Hero Section */
/* Hero Section */
/* green */
.hero {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 0;
}

.hero .section-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hero .section-date p {
  font-size: 1.3rem;
  color: #8c8c8c;
}

.hero .section-news {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  max-width: 100%;
}

.hero .section-news .section-one {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding: 40px 10px;
  height: 360px;
  background: url("https://ichef.bbc.co.uk/wwhp/999/cpsprodpb/1333A/production/_130905687_gettyimages-1622660427.jpg");
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 2px;
}

.hero .section-news .section-one h1 {
  font-size: 2rem;
  font-weight: lighter;
  max-width: 90%;
}

.hero .section-news .section-one h3 {
  font-size: 0.9rem;
  font-weight: lighter;
  font-weight: normal;
}

.hero .section-news .section-one span {
  font-size: 0.7rem;
  padding-left: 5px;
  border-left: 2px solid red;
}

.hero .section-news .section-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50%;
  gap: 15px;
}

.hero .section-news .section-two h1 {
  font-size: 1.1rem;
  font-weight: lighter;
  max-width: 90%;
}

.hero .section-news .section-two span {
  font-size: 0.7rem;
  padding-left: 5px;
  border-left: 2px solid red;
}

.hero .section-news .section-two section {
  max-width: 48%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  padding: 10px;
  color: #fff;
}

.hero .section-news .section-two section.one {
  background: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/117E2/production/_130905617_crash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .section-news .section-two section.two {
  background: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/B234/production/_130902654_donaldtrumpfullmugshot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .section-news .section-two section.three {
  background: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/D070/production/_130906335_gettyimages-1623404421.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .section-news .section-two section.four {
  background: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/11D46/production/_130903037_tfaqr8ze.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* green */
/* News Section */
/* News Section */
/* News Section */
/* green */

.news {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.news > h2 {
  font-size: 2rem;
  padding-left: 10px;
  border-left: 4px solid red;
  margin: 30px 0;
}

.news > section {
  display: flex;
  gap: 10px;
}

.news > section section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 33.33%;
}

.news > section section img {
  max-width: 100%;
  flex: 1;
}

.news > section section h3 {
  max-width: 90%;
  font-size: 1.6rem;
}

.news > section section p {
  max-width: 90%;
  font-size: 1.3rem;
}

.news > section section span {
  margin: 20px 0;
  border-left: 2px solid red;
  padding-left: 10px;
  font-size: 1.1rem;
}

/* Media Queries */

@media screen and (max-width: 1279px) {
  .search-container span {
    display: none;
  }

  .search-container i {
    font-size: 1.4rem;
  }

  .nav {
    margin: 0 100px;
    font-size: 0.9rem;
  }

  .nav-links-container li a {
    padding: 10px 15px;
  }

  .section-date {
    padding: 0 10px;
  }

  .hero {
    padding: 15px 10px;
  }

  .hero .section-news .section-one h1 {
    font-size: 1.6rem;
  }

  .hero .section-news .section-one h3 {
    font-size: 0.7rem;
  }

  .hero .section-news .section-two {
    gap: 8px;
  }

  .hero .section-news .section-two h1 {
    font-size: 0.9rem;
    font-weight: lighter;
    max-width: 90%;
  }

  .news {
    padding: 0 10px;
  }

  .news > section section h3 {
    max-width: 90%;
    font-size: 1.3rem;
  }

  .news > section section p {
    max-width: 90%;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1100px) {
  .nav {
    margin: 0 70px;
    font-size: 1.1rem;
  }

  .sign-in-container span {
    display: none;
  }

  .sign-in-container i {
    font-size: 1.4rem;
  }

  .nav-links-container li:nth-last-child(2) {
    display: none;
  }

  .news > section section h3 {
    max-width: 90%;
    font-size: 1.2rem;
  }

  .news > section section p {
    max-width: 90%;
    font-size: 1rem;
  }

  .news > section section span {
    font-size: 0.9rem;
    margin: 10px 0;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    margin: 0 50px;
  }

  .nav-links-container li:nth-last-child(3) {
    display: none;
  }

  .hero .section-news {
    flex-direction: column;
    gap: 20px;
  }

  .hero .section-news .section-one {
    max-width: 100%;
    padding-bottom: 15px;
  }

  .hero .section-news .section-one h1 {
    font-size: 1.6rem;
  }

  .hero .section-news .section-one h3 {
    font-size: 0.9rem;
  }

  .hero .section-news .section-two {
    max-width: 100%;
    column-gap: 20px;
  }

  .hero .section-news .section-two section {
    width: 480px;
    height: 256px;
  }

  .hero .section-news .section-two h1 {
    font-size: 1.4rem;
  }

  .hero .section-news .section-two span {
    font-size: 0.9rem;
  }

  .news {
    padding: 0 20px;
  }

  .news > section section h3 {
    max-width: 100%;
    font-size: 1.1rem;
  }

  .news > section section p {
    max-width: 90%;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 920px) {
  .nav {
    margin: 0 30px;
  }

  .nav-links-container li:nth-last-child(4) {
    display: none;
  }

  .news > section section h3 {
    max-width: 100%;
    font-size: 1rem;
  }

  .news > section section p {
    max-width: 100%;
    font-size: 0.9rem;
  }

  .news > section section span {
    font-size: 0.8rem;
    margin: 0;
  }
}

@media screen and (max-width: 830px) {
  .nav {
    margin: 0 10px;
  }

  .nav-links-container li:nth-last-child(5) {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .nav-links-container li:nth-last-child(6) {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .nav {
    font-size: 1.6rem;
  }
  .nav-links-container {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
  }

  .logo-container span {
    font-size: 1.4rem;
  }

  .logo-container {
    order: 2;
    margin-left: 25vw;
  }

  .sign-in-container {
    order: 1;
  }

  .hero .section-date {
    display: none;
  }

  .hero .section-news .section-one h1 {
    font-size: 1.3rem;
  }

  .hero .section-news .section-one h3 {
    font-size: 0.7rem;
  }

  .hero .section-news .section-two {
    flex-direction: column;
  }

  .hero .section-news .section-two section {
    color: #000;
    border-bottom: 1px solid #8c8c8c;
    padding-bottom: 20px;
    max-width: 100%;
  }

  .hero .section-news .section-two section h1 {
    max-width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .hero .section-news .section-two section.one {
    background: none;
    height: auto;
    gap: 20px;
  }

  .hero .section-news .section-two section.two {
    background: none;
    height: auto;
    gap: 20px;
  }

  .hero .section-news .section-two section.three {
    background: none;
    height: auto;
    gap: 20px;
  }

  .hero .section-news .section-two section.four {
    background: none;
    height: auto;
    gap: 20px;
  }

  .news > section {
    flex-direction: column;
  }

  .news > section section {
    max-width: 100%;
    border-bottom: 1px solid #8c8c8c;
    padding-bottom: 20px;
  }

  .news > section section img {
    display: none;
  }

  .news > section section h3 {
    max-width: 100%;
    font-size: 1.2rem;
  }

  .news > section section p {
    max-width: 100%;
    font-size: 0.9rem;
  }

  .news > section section span {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 360px) {
  .nav {
    font-size: 0.7rem;
  }

  .logo-container {
    margin-right: 10vw;
  }
}
